.SectionOne {
  background-color: #efefef;
  padding: 80px 0px;
}
.SectionOne h1 {
  margin-bottom: 50px;
  text-align: center;
}
.SectionOne .sec-col {
  border-radius: 10px;
  background-color: #fff;
}
.SectionOne .sec-col {
  padding: 20px;
}
.SectionOne .sec-col:hover {
  box-shadow: 0 0 11px 6px #00000021;
  cursor: pointer;
}